@font-face {
    font-family: 'agenor';
    src: url(/fonts/AgenorNeue-Regular.otf);
}
@font-face {
  font-family: 'grafic';
  src: url(/fonts/GraphikMedium.otf);
}
body{
    display:flex;
    background-image: url(/background/nubank-backgroun2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 706px;
}

.conteiner-dad{
    display: flex;
    justify-content: center;
    font-family:'agenor';
    text-align: center;
}

.conteiner-son{
    display:block;
    width: 270px;
    height: 260px;
    margin-top: -500px;
    margin-left: 970px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
}

h1{
    color:#252424;
    text-align: left;
    margin-left: -1px;
    font-size: 22px;
}
  .conteiner-text{
  position: absolute;
  top: 52%;
  left: 25%;
  transform: translate(-50%, -50%);/*trás ao centro*/
  width: 40%;
  text-align: left;
  font-family: 'grafic';
}

.text-left {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: -0.01em;
  overflow-wrap: break-word;
  max-width: 97%;
}

.h3-text{
  margin-top: -20px;
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
}

form{
    margin-top: -20px;
    text-align: center;
    margin-left: 10px;
}

input[type='text']{
   width: 100%;
   padding: 5px;
   color: rgb(0, 0, 0);
   border: 0;
   border-bottom: 2px solid rgb(150, 150, 150);
   outline: 0;
   margin-top: 50px;
   margin-left: -10px;
}
input[type='text']:hover{
     border-bottom: 2px solid #7d4ff1;
}
input[type='submit']{
    background-color: rgb(130, 10, 209);
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 45px;
    margin-left: -12px;
    cursor: pointer;
    font-size:15px;
    text-align: left;
    height: 50px;
    width: 270px;
    color:#ffffff;
    font-family: 'agenor';
    border: none;
}

::placeholder{
    text-align:left;
    font-size: 15px;  
}

header {
    background-color: #ffffff; /* define a cor de fundo do header */
    position:fixed; /* fixa o header na parte superior da página */
    top: 0; /* posiciona o header no topo da página */
    width:100%;
    margin-left: -1300px;
    height:56px;
    font-family: 'agenor';
    z-index: 1;
  }
  
  nav ul {
    list-style-type: none; /* remove as bolinhas dos itens de lista */
    margin: 0; /* remove a margem do topo e do rodapé da lista */
    padding: 14px; /* remove o preenchimento do topo e do rodapé da lista */
    overflow: hidden; /* esconde o conteúdo que vaza para fora do elemento */
    margin-left: 120px;
    margin-top: -10px;   
  }
  
  nav li {
    float: left; /* posiciona os itens do menu lado a lado */
  }
  
  nav li a {
    display: block; /* converte o link em um bloco para ocupar toda a largura disponível */
    color: rgb(0, 0, 0); /* define a cor do texto */
    text-align: center; /* centraliza o texto horizontalmente */
    padding: 14px 16px; /* adiciona preenchimento ao redor do texto */
    text-decoration: none; /* remove o sublinhado do link */
  }
   
  #login a{
    margin-left: 460px;
    color: rgb(121, 5, 156);
    position: fixed;
    background-repeat: no-repeat;
  }
  
  img{
    width: 95px;
    height: 90px;
    position: fixed;
    margin-top: -20px;
    margin-left: 26px;
    cursor:pointer
  }

  #ponto-1::after{
    display: block;
    background-color: rgb(130, 10, 209);
    border-radius: 10px;
    content:'';
    position: left;
    margin-top:-13px;
    margin-left:70px;
    width: 4px;
    height: 4px;
  }
  #seta-1{
    margin-top: 17px;
    margin-left: -400px;
    width: 15px;
    height: 15px;
  }
  #seta-2{
    margin-top: 17px;
    margin-left: -235px;
    width: 15px;
    height: 15px;
  }
  #seta-3{
    margin-top: 17px;
    margin-left: -125px;
    width: 15px;
    height: 15px;
  }
  #seta-submit{
    position: fixed;
    width: 20px;
    height: 20px;
    margin-top: 60px;
    margin-left: -50px;
  }